@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body    {
    font-family: "Poppins", sans-serif;
    background-color:#E0E0E0;
    color:#0C5F97;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

/* Header inicio */
/* Header inicio */
/* Header inicio */
/* Header inicio */

/* navbar inicio*/
.logo   {
    color:#0C5F97;
    font-size: 25px;
    font-weight: 800;
}

.logo:hover   {
    color:black;
}

.nav-link{
    font-size: 18px;
    padding: 0 20px;
    color: #0C5F97;
    font-weight: 600;
}

.nav-link:hover {
    color: black;
}
/* nabvar fin */

/* contenido header inicio*/
.header-content {
    display: flex;
    padding: 0px 10px 0px 70px;
    height: 550px;
    background-image: url(../assets/img/header2.jpg);
    background-size: cover;
    background-position: 0px -100px;
    align-items:center;
}

.header-txt    {
    flex-direction: column;
    flex-basis: 49%;
    padding-right: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    font-weight: 700;
}

.header-txt h1{
    margin-bottom: 20px;
    text-align: center;
}

.header-txt h2 {
    margin-left: 50px;
}

.header-content button  {
    height: auto;
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    color: #0C5F97;
    background: #E0E0E0 radial-gradient(circle, transparent 1%, #eeeeee 1%) center/15000%;
    padding: 5px;
    border-radius: 10px;
    font-weight: 600;
    box-shadow: .5rem .5rem 1rem #0C5F97;
    border: 2px solid transparent;
    cursor: pointer;
    transition: all 1s ease;
}

.efecto {
    background-position: center;
}

.efecto:hover   {
    box-shadow:-.5rem -.5rem 1rem #0C5F97;
}

.efecto:active  {
    background-color: #1290e4;
    background-size: 100%;
    transition: background 0s;
}
/* contenido header inicio*/

/* Header fin */
/* Header fin */
/* Header fin */
/* Header fin */

/* que puedes obtener de nosotros INICIO */
/* que puedes obtener de nosotros INICIO */
/* que puedes obtener de nosotros INICIO */
.general_titulo{
    display: flex;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 50px;
    font-weight: 700;
}

.general    {
    display: flex;
    justify-content: space-between;
}

.general_card   {
    padding: 20px;
    text-align: center;
}

.general_card_texto {
    margin-top: 20px;
}

.general_img1    {
    background-image: url(../assets/img/blog1.jpg);
    background-position: center;
    background-size: cover;
}

.general_img2    {
    background-image: url(../assets/img/blog2.jpg);
    background-position: center;
    background-size: cover;
}

.general_img3    {
    background-image: url(../assets/img/blog3.jpg);
    background-position: center;
    background-size: cover;
}
/* que puedes obtener de nosotros FIN */
/* que puedes obtener de nosotros FIN */
/* que puedes obtener de nosotros FIN */

/* Formulario de contacto inicio */
/* Formulario de contacto inicio */
/* Formulario de contacto inicio */
.contacto {
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0 0 0 / .8),rgba(0 0 0 / .8)),url(../assets/img/header2.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display:grid;
    grid-template-columns: repeat(2,50%);
    padding:20px;
    gap:10px;
}

.box-info {
    color:#fff;
    display:flex;
    flex-direction: column;
    gap:50px;
}

.box-info h1 {
    text-align: left;
    letter-spacing: 5px;
}

.data {
    display: flex;
    flex-direction: column;
    gap:25px
}

.data p {
    font-size: 1rem;
}

.data p i  {
    color:#0C5F97;
    margin-right: 10px;
    font-size:25px;
}

.links {
    display:flex;
    gap:15px;
}

.links a {
    text-decoration: none;
    width: 40px;
    height: 40px;
    background: #0C5F97;
    text-align: center;
    transition: .1s;
}

.links a i {
    color:#fff;
    line-height: 40px;
    font-size: 20px;
}

form {
    display:flex;
    flex-direction: column;
    text-align: center;
    gap:15px;
}

.input-box {
    position:relative;
}

.input-box input {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    outline:none;
    background: rgba(255 255 255 / .1);
    border:3px solid transparent;
    letter-spacing: 1px;
    transition:.3s;
    color:#fff;
    
}

.input-box > input:focus,.input-box > textarea:focus {
    border-bottom:3px solid #0C5F97;
}

.input-box textarea {
    width: 100%;
    height: 130px;
    padding: 10px;
    background: rgba(255 255 255 / .1);
    border:3px solid transparent;
    letter-spacing: 1px;
    outline: none;
    transition:.3s;
    color:#fff;
    letter-spacing: 1.5px;
    resize: none;
}


.input-box i {
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    right: 10px;
    color:rgba(255 255 255 / .3);
    transition: .3s;
}

.input-box input:focus ~ i {
    color:#0C5F97;
}

form > button {
    width: 100%;
    padding: 10px;
    outline: none;
    background: #0C5F97;
    color:#fff;
    border:none;
    transition: .1s;
    cursor: pointer;
    font-size: 1rem;
}

form button:hover,.links a:hover {
    background: #0C5F97;
}

/* formulario de contacto fin */
/* formulario de contacto fin */
/* formulario de contacto fin */
/* formulario de contacto fin */
